celery==5.0.5
Django==3.1.5
django-cors-headers==3.6.0
django-model-utils==4.1.1
django-polymorphic==3.0.0
djangorestframework==3.12.2
gunicorn==20.0.4
ipython==7.19.0
psycopg2-binary==2.8.6
requests==2.25.1
martor==1.5.8
django-decouple==2.1
Pillow==8.1.0
django-allauth==0.44.0
google-auth==1.26.1
dj-rest-auth==2.1.3
